.task-content {
  // height: 100vh;
  padding-top: 70px;
  &__body {
    width: 1300px;
    height: 600px;
    margin: 0 auto;
    justify-content: space-between;
    .content {
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      margin: 10px 0 40px;
      border-bottom: 1px solid #333333;
      display: flex;
      .left-language {
        width: 25%;
        span {
          font-size: 22px;
          font-weight: bold;
          color: #ff3e34;
        }  
      }
      &__box {
        display: flex;
        .left {
          width: 50%;
          height: 600px;
          background: white;
          margin-right: 10px;
          overflow: scroll;
          &__tasks {
            padding: 5px;
            margin-bottom: 5px;
            color: rgb(46, 45, 92);
            background: #f5f5f5;
            border: 1px solid rgb(46, 45, 92);
            border-bottom: 3px solid #bebebe;
            border-radius: 4px;
            span {
              font-weight: bold;
            }
            .tasks-top {
              display: flex;
              justify-content: space-between;
              &__time {
                width: 32%;
              }
              &__place {
                width: 66%;
              }
              &__delete {
                width: 2%;
                text-align: right;
                .trash {
                  color: rgb(46, 45, 92);
                }
              }
            }
          }
        }
        .right {
          width: 50%;
          height: 600px;
          margin-left: 10px;
          padding: 15px;
          border-radius: 5%;
          box-shadow: 10px 10px 15px -10px #5d5d5d;
          background: #fff6ece3;
          border: 8px solid #854b13;
          &__form {
            height: 70px;
            padding: 5px 25px;
            text-align: center;
            font-size: 30px;
            font-style: bold;
          }
          &__box {
            .day-form {
              box-sizing: content-box;
              display: flex;
              justify-content: space-between;
              height: 50px;
              padding: 15px 0;
            }
            #place {
              height: 50px;
              width: 83%;
              border: none;
              background: none;
              border-bottom: 2px solid #c9c3bb;
              transition: border-color 0.3s;    
            }
            #place:focus {
              border-bottom: 2px solid #00787f;
              outline: none;
            }    
            .time-form {
              box-sizing: content-box;
              padding: 20px 0;
              display: flex;
              justify-content: space-between;
              &__icon {
                width: 85%;
              }
            }
            .time-form select {
              width: 100px;
              height: 50px;
              margin: 0 10px;
              border: none;
              background: none;
              border-bottom: 2px solid #c9c3bb;
              transition: border-color 0.3s;
            }
            select:focus {
              border-bottom: 2px solid #00787f;
              outline: none;
            }
            .submit-btn {
              text-align: center;
            }
            input.send {
              margin-top: 20px;
              padding: 10px 20px;
              font-size: 1.2em;
              background-color: #F5F5F5;
              color: #333333;
              box-shadow: 10px 10px 15px -10px #5d5d5d;
              border-radius: 8px;
              font-weight: bold;
              transition: 0.3s;
            }
            .send:hover {
              background: #FF8F00;
              color:#fff8f7;
            }  
            input:active {
              transform: translateY(2px);
              border-bottom: none;
            }            
          }
        }
      }
    }
  }
}
