.today-task {
  padding-top: 180px;
  // max-height: 1000px;
  &__content {
    margin: 0 auto;
    width: 1200px;
    h3 {
      font-size: 30px;
    }
    .back-task {
      display: flex;
      // border: 1px solid;
      margin-bottom: 3px;
      padding: 4px 3px;
      .time-t {
        width: 13%;
      }
      .todo-t {
        width: 40%;
      }
      .place-t {
        width: 20%;
      }
      .memo-t {
        width: 27%;
      }
    }
    .index-column {
      background:  #e0586f;
      color: white;
    }
  }
}
