= render 'header'
.tp-content
  .tp-content__body
    .text
      %h2タスク管理と日記で
      %br
      %h2毎日を充実させよう!!
    .new
      %a#js-modal-open{href: ""} 始める
    .modal#js-modal
      .modal__back#js-modal-close
      .modal__content
        = render 'devise/registrations/new'
        %a#js-modal-close{href: ""} 閉じる