.top-text {
  font-size: 30px;
  padding: 10px 10px;
  margin: 20px 0 20px 20px;
  border-bottom: 1px solid #333333;
  font-weight: bold;
  color: #333333;
}
.diary {
  display: flex;
  overflow-x: scroll;
  &__box {
    padding: 10px;
    background: white;
    width: 400px;
    height: 500px;
    margin: 20px;
    border: 1.5px solid #8a8a8a;
    border-radius: 8px;
    box-shadow: 10px 10px 15px -10px #5d5d5d;
    color: #333333;
    .diary-top {
      display: flex;
      border-bottom: 1px solid #333333;
      height: 35%;
      &__user {
        width: 240px;
        padding: 10px 0;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .nickname {
          font-weight: bold;
          padding-left: 10px;
        }
        .prefecture {
          padding-left: 10px;
        }
        .time {
          font-size: 13px;
          color: #8a8a8a;
        }
      }
    }
    .diary-bottom {
      height: 65%;
      &__title {
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
      }
    }
  }
}