@import "./reset";
@import "./background";
@import "users/*";
@import "tasks/*";
@import "diaries/*";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
