@import "./reset";
@import "./background";
@import "users/*";
@import "tasks/*";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  margin: 0;
  padding: 0;
  background: $bg-color;
}

* {
  box-sizing: border-box;
}