.profile {
  // width: 750px;
  height: 550px;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  background: white;
  &__box {
    display: flex;
    height: 500px;
    &__left {
      width: 33%;
      padding: 15px;
      // text-align: center;
      .field {
        input {
          border: none;
          background: none;
          border-bottom: 2px solid #e9e9e9;
          transition: border-color 0.3s;
          width: 100%;
        }
        input:focus {
          border-bottom: 2px solid #c0c0c0;
          outline: none;        
        }
      }
    }
  }
}



.imageicon {
  border: 2px solid #e9e9e9;
  border-radius: 50%;
}

.field-image {
  display: none;
}