.notice {
  text-align: center;
  width: 100%;
  color: #fff;
  background: #0066e2;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  top: 55px;
}

.alert {
  width: 100%;
  text-align: center;
  color: #fff;
  background: #ff3e34;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  top: 55px;
}