.show-task {
  display: flex;
  margin-bottom: 3px;
  padding: 4px 3px;
  .day-show {
    width: 10%;
  }
  .time-show {
    width: 13%;
  }
  .todo-show {
    width: 35%;
  }
  .place-show {
    width: 17%;
  }
  .memo-show {
    width: 23%;
  }
}
.show-column {
  background: #0066e2;
  color: white;
  font-weight: bold;
  border-bottom: 3px solid #003c86;
}
.each-date {
  background: #efedebc2;
  color: #333333;
  border-bottom: 1.5px solid #d7d2cc;
}